# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# Fichiers de configuration de projet créés par PhpStorm
.idea/

# Variables de connexion à la base de données
model/MVariablesConnexion.php