body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p{
    font-family: sans-serif;
}

body > p, body > form:last-of-type{
    margin-bottom: 100px;
}

#unMessage{
    display: flex;
}

#unMessage p{
    margin: 0;
    margin: 15px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 20px;
}
