html, body{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
}

header
{
    width: 100%;
    background: #2552bb;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

header p{
    margin: 0;
}

header a{
    margin: 0;
    color: white;
    text-decoration: underline;
}

header button{
    margin: 0;
    color: white;
    text-decoration: underline;
    background: none;
    border: none;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #2552bb;
    color: white;
    text-align: center;
}

footer p{
    margin: 0;
}
